---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stardew Valley Creator</title>
	</head>
	<body class=" text-white bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-orange-300 via-violet-300 to-sky-400 h-screen">
		<h1 class=" py-5 text-4xl ">The Mind Behind Stardew Valley</h1>
        <img src="https://stardewvalleywiki.com/mediawiki/images/0/05/Developed_By_Image.gif" alt="ConcernedApe Developer Gif"> 
		<p class=" py-2 text-2xl ">Stardew Valley was Eric Barone's first full game.</p>
        <p class=" italic text-2xl py-2 ">His first game.</p>
        <p class=" text-1xl py-2 ">The creator of Stardew Valley, Eric Barone, is better known by the name ConcernedApe across the internet. He is a developer, artist, and musician from Auburn, Washington. After college, where he completed a degree in computer science, he found himself struggling to break into the tech world. He decided to start working on a project, something that would help bolster his resume and expand his knowledge. Thus, Stardew Valley was born.</p>
        <p class=" text-1xl py-2 ">His biggest influence for Stardew Valley was the Harvest Moon series, a favorite for him from his childhood. In fact, Stardew Valley started out as the idea of just recreating Harvest Moon, but evolved into something much more as he worked. The development of the game was characterized by his relentless, obsessive design. He refused to ask for help from other developers, wanting the game to be solely his creation. So he worked 10 hours a day, 7 days a week for 4 and a half years, creating all the pixel art, gameplay, dialogue, stories, and even composing the music. He made it clear the game would release finished, opting out of any pre-sale payments or early access features. In fact, the game was playtested by only 3 people. The game was finally released for PC on February 26, 2016.</p>
        <p class=" text-1xl py-2 ">After release, ConcernedApe was far from being done with the game. It was an immediate success, selling more than 2 million copies in two months. He continued to faithfully improve the game by patching bugs and taking input from the community. ConcernedApe would go on to add much more content to the game and port it to many platforms. </p>
	</body>
</html>
