---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stardew Valley Bonus Content</title>
	</head>
	<body class=" text-violet-900 bg-orange-200 h-screen">
		<h1 class=" font-bold py-5 text-4xl ">Bonus Content</h1> 
		<p class=" py-2 text-1xl ">One of the most fun parts of being a Stardew Valley fan is the endless creativity Eric Barone brings to bonus content.</p>
        <p class=" py-2 text-1xl ">Below are some of the most exciting developments in the greater Stardew Valley universe.</p>
        <div>
            <h2 class=" font-bold py-5 text-2xl ">Cookbook</h2>
            <p class=" py-2 text-1xl ">Cooking is an important part of the gameplay for Stardew Valley, now we can cook the in-game recipes in real life! Click <a href="https://stardewvalleycookbook.com/">HERE</a> for more information on the upcoming Stardew Valley Cookbook.</p>
            <img src="https://www.stardewvalley.net/wp-content/uploads/2023/09/SDV_Cookbook_steam-reveal_800x450.jpg" alt="Cookbook Image">
        </div>
        <div>
            <h2 class=" font-bold py-5 text-2xl ">Board Game</h2>
            <p class=" py-2 text-1xl ">The Stardew Valley board game gives you even more ways to play with your friends! Click <a href="https://shop.stardewvalley.net/products/pre-order-stardew-valley-the-board-game-3rd-printing">HERE</a> for more information on the Stardew Valley Board Game.</p>
            <img src="https://cf.geekdo-images.com/X1oNtZV5H5BxtxlsTGIsHA__imagepage/img/kXj3chdJNHbAM86CN9rZTTfgwgM=/fit-in/900x600/filters:no_upscale():strip_icc()/pic6037615.png" alt="Board Game Image">
        </div>
        <div>
            <h2 class=" font-bold py-5 text-2xl ">Music</h2>
            <p class=" py-2 text-1xl ">The Stardew Valley soundtrack is one of the most unique and fun soundtracks in gaming, and it was written all by ConcernedApe! Click <a href="https://scarletmoonrecords.bandcamp.com/album/prescription-for-sleep-stardew-valley">HERE</a> for more information on the latest addition to the music of Stardew Valley.</p>
            <img src="https://f4.bcbits.com/img/a1249194562_16.jpg" alt="Music Image">
        </div>
        <div>
            <h2 class=" font-bold py-5 text-2xl ">Merch</h2>
            <p class=" py-2 text-1xl ">The Stardew Valley merch store has something for every fan! Click <a href="https://www.stardewvalley.net/shop/">HERE</a> for more information on the Stardew Valley merch store.</p>
            <img src="https://www.stardewvalley.net/wp-content/uploads/2021/07/partner_banner_dev4.png" alt="Merch Image">
        </div>
    
	</body>
</html>
