---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stardew Valley Updates</title>
	</head>
	<body class=" text-orange-900 bg-sky-200 h-screen">
		<h1 class=" font-bold py-5 text-4xl ">Versions and Updates</h1>
        <img src="https://nintendoeverything.com/wp-content/uploads/stardew-valley-1-5-update.png" alt="Updates Image"> 
		<p class=" py-2 text-1xl ">Stardew Valley is characterized by the ever evolving content ConcernedApe releases. Many versions have been released to add end-game content and port to other platforms.</p>
        <h2 class=" py-5 text-3xl ">Ports</h2>
        <p class=" py-2 text-1xl ">Beginning in May 2016, Stardew Valley began being ported to many other platforms. This would eventually include an impressive list:</p>
        <ul class=" py-2 text-1xl list-disc list-inside ">
            <li>Windows</li>
            <li>macOS</li>
            <li>Linux</li>
            <li>Playstation</li>
            <li>Xbox</li>
            <li>Nintendo Switch</li>
            <li>iOS</li>
            <li>Android</li>
        </ul>
        <p class=" text-1xl py-2 ">This is also where Concerned Ape finally accepted some outside involvement, coming from Chucklefish. Chucklefish would handle the ports, making Stardew Valley a game you could play almost anywhere.</p>
        <h2 class=" py-5 text-3xl ">Updates</h2>
        <p class=" py-2 text-1xl ">Quality of life and content updates are an integral part of the Stardew Valley experience. ConcernedApe is always active in the community and really takes the players opinions and dreams to heart. On April 16, 2023 ConcernedApe announced there would be a 1.6 update, and has steadily been adding to that promise since. It started out as a promise to make modding easier, but has evolved into a gameplay update as well. </p>    
        <p class=" py-2 text-1xl ">A full list of updates can be found here: <a href="https://stardewvalleywiki.com/Version_History">VERSION HISTORY</a> </p>
	</body>
</html>
