---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stardew Valley</title>
	</head>
	<body>
		<h1>Stardew Valley Blog</h1>
		<ul>
      		<li><a href="/posts/Creator/">Meet the Developer</a></li>
			<li><a href="/posts/Updates/">All the Updates</a></li>
			<li><a href="/posts/OtherContent/">Bonus Stardew Valley Content</a></li>
    	</ul>
	</body>
</html>
