---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Stardew Valley Blog</title>
	</head>
	<body class="bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-orange-300 via-violet-300 to-sky-400 h-screen">
		<div class=" flex items-center justify-center">
			<img src="https://stardewvalleywiki.com/mediawiki/images/6/68/Main_Logo.png" alt="Stardew Valley Logo">
		</div>
		<h1 class=" py-10 text-3xl text-white flex items-center justify-center">This blog explores the world of Stardew Valley, get started by clicking one of the topics below to learn more.</h1>
		<ul class=" text-white container mx-auto grid gap-4 lg:grid-cols-4 md:grid-cols-2">
      		<li class=" block text-center text-4xl ring-8 ring-pink-600 bg-orange-200 bg-opacity-50 ring-opacity-25 w-full h-12 rounded-lg"><a href="/posts/Creator/">Developer</a></li>
			<li class=" block text-center text-4xl ring-8 ring-pink-600 bg-orange-200 bg-opacity-50 ring-opacity-25 w-full h-12 rounded-lg"><a href="/posts/Updates/">Updates</a></li>
			<li class=" block text-center text-4xl ring-8 ring-pink-600 bg-orange-200 bg-opacity-50 ring-opacity-25 w-full h-12 rounded-lg"><a href="/posts/OtherContent/">Bonus Content</a></li>	
    	</ul>

	</body>
</html>
